*{
    margin: 0;
    padding: 0;
}

p a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding:0 5%;
}

img{
    width: 20%;
}

h1 a img{
    width: auto;
    height: 5%;
    background-color: blue;
}

fieldset{
    background-color: darkgray;
}

form img{
    width:20%;
}
